.vscode
.vs
data
include/retracted
.pio
.pioenvs
.piolibdeps
.vscode/.browse.c_cpp.db*
.vscode/c_cpp_properties.json
.vscode/launch.json
Debug
Release
.idea
pch.*
logs/*
scripts/gdb*
scripts/objd*
scripts/tcp_*
scripts/syslog.bat
kfcfw_tool.json
__pycache__
fwbins/*
**/tests/*
src/plugins/weather_station/graphics/*
firmware.txt
scripts/tools/kfcfw_build.py
tests_vc/*
scripts/tools/tmp
scripts/serial_reset.py
scripts/monitor.bat
scripts/test.py
src/plugins/i2c_scanner/i2c_testing.txt
src/rest_api.cpp
src/plugins/rf24_master/*
docs/plugin_architecture.md
src/generated/FlashStringGeneratorAuto.static.txt
src/generated/.flashstringgen
.flashstringgen
.gitattributes
src/plugins/weather_station/fonts/output/
Resources/js/charts/samples/
scripts/hassApi2MQTT/*
dump.txt
x.txt
envdump.txt
uploadnav.bat
kfc_ota.txt
.travis.yml
alarm.auto.html
alarm.html.*.bak
*.lst
tmp.txt
BUTTON/*
map_*.txt
*.map
lib-extra/*
lib-mock/ignore*
lib-mock/tmp*
env.txt
*.bak
**/.config
bit_calc.py
lib/KFCWebBuilder/Resources/images/bootstrap-icons-1.0.0/*
lib/stl_ext/include/stl_ext/fixed_circular_buffer - Copy.h
scripts/udp2ws_proxy/node_modules/
scripts/udp2ws_proxy/package-lock.json
display.js
scripts/tools/fonts/headers/*
Resources/html/.editcontent.html
scripts/build_ledmatrix.cmd
scripts/build_remote.cmd
git.txt
md5bin.txt
bullkupdate.cmd
lib/KFCWebBuilder/Resources/bootstrap-colorpickersliders-master/*
lib-mock/KFCBaseLibrary/framework-arduinoespressif8266_3.20704.0/*
lib-mock/KFCBaseLibrary/msc_framework-arduinoespressif_win32/ConfigV2Test/EspFlashMemory.4m2m.dat
frameworks/**
lib-mock/KFCBaseLibrary/include/-EEPROM.h
lib-mock/KFCBaseLibrary/src/-EEPROM.cpp
lib-mock/KFCBaseLibrary/msc_framework-arduinoespressif_win32/ConfigV2Test/EspFlashMemory.4m2m.da
upload.txt
lib/KFCIOExpander/*
src/plugins/dimmer_module/firmware/hex/update.bat
lib-mock/KFCBaseLibrary/msc_framework-arduinoespressif_win32/ConsoleApplication1/EspFlashMemory.4m2m.dat
node_modules/*
package-lock.json
sub-projects/*
lib/KFCGfx/mock/libdeps/Adafruit-GFX-Library
elf
lib/KFCWebBuilder/bin/builder.log
lib/KFCWebBuilder/bin/json2php/*.DS_Store
lib/KFCWebBuilder/bin/json2php/.AppleDouble
lib/KFCWebBuilder/bin/json2php/.LSOverride
lib/KFCWebBuilder/bin/json2php/.idea/
lib/KFCWebBuilder/bin/json2php/vendor/*
lib/KFCWebBuilder/bin/json2php/composer.lock
lib/KFCWebBuilder/bin/json2php/tests/*
src/plugins/weather_station/fonts/fontconvert/fontconvert
piorunnall
.ipynb_checkpoints/spectrum-checkpoint.ipynb
spectrum.ipynb
**/.ipynb_checkpoints/*
scripts/tools/Untitled.ipynb
scripts/tools/untitled.py
scripts/tools/loudness_from_spectrum.ipynb
Untitled1.ipynb
Untitled.ipynb

