/**
 * Author: sascha_lammers@gmx.de
 */

 #pixel-container {
    position: absolute;
    right: -18rem;
    bottom: 0;
    padding: 7rem 7rem 0 7rem !important;
    z-index: 9998;
    min-height: 1rem;
    min-width: 1rem;
    overflow: hidden;
}

#digit-prototype {
    display: none;
}

#colon-prototype {
    display: none;
}

.digits-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    width: 1700px;
    margin-right: 10rem;
}
.digit-container {
    padding-right: 1rem;
    width: 224px;
    height: 368px;
}
.colon-container {
    width: 110px;
    height: 200px;
}

.digits-container .pixel, .digits-container .px {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.75rem;
    border: 1px solid #000000;
    border-radius: 1rem;
    padding: 0.25rem;
    margin: 0.125rem;
    width: 1rem;
    height: 1rem;
    min-width: 1rem;
    min-height: 1rem;
    text-align: center;
    align-self: center;
}

.digits-container .colon {
    display: inline-grid;
    justify-content: center;
}
.digits-container .colon .pixels-top, .digits-container .colon .pixels-bottom {
    width: 70px;
    min-height: 70px;
    background: #222;
    border: 0px none #000000;
    border-radius: 3rem;
    overflow: hidden;
    justify-content: center;
    /* horizontally aligned pixels */
    display: inline-flex;
    /* vertically aligned pixels */
    /* display: inline-grid; */
}
.digits-container .colon .pixels-bottom {
    margin-top: 3rem;
}

.digits-container .digit-vertical, .digits-container .digit-horizontal {
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.digits-container .digit-vertical {
    width: 28%;
    min-height: 8.5rem;
    max-height: 8.5rem;
    clip-path: polygon(50% 0, 100% 23%, 100% 77%, 50% 100%, 0 77%, 0% 23%);
}
.digits-container .digit-horizontal {
    width: 65%;
    min-height: 3.75rem;
    max-height: 3.75rem;
    clip-path: polygon(0 50%, 20% 0, 80% 0, 100% 50%, 80% 100%, 20% 100%, 0 50%);
}
.digits-container .pixels-horizontal {
    padding: 0;
    margin: 0;
    display: inline-flex;
    align-content: center;
}
.digits-container .pixels-vertical {
    padding: 0;
    margin: 0;
    display: inline-grid;
}
.digits-container .pixels-vertical .pixel {
    display: block;
}

.digits-container .row {
    width: 100%;
    display: flex !important;
    justify-content: center;
    margin-top: -1.5rem !important;
}
.digits-container .row:first-of-type {
    margin-top: 0;
}
.digits-container .row .spacer {
    flex: 1 0;
}
