/**
 * Author: sascha_lammers@gmx.de
 */

.form-help-block {
    display: none;
}

.form-help-label-text {
    font-size: 0.75rem;
    font-weight: 400;
}

.form-help-label-text:hover {
    cursor: zoom-in;
}

.form-help-label-text-zoom-in {
    font-size: 1.25rem;
    font-weight: 500;
    cursor: zoom-out !important;
    cursor: zoom-out !important;
}
