/**
 * Author: sascha_lammers@gmx.de
 */


.navbar-collapsed-show {
    display: block;
}

.navbar-collapse-show-hide {
    display: none;
}

@media only screen and (min-width: 992px) {
    .navbar-collapsed-show {
        display: none;
    }
    .navbar-collapse-show-hide {
        display: block;
    }
    }

a > .alerts-count {
    color: white;
    font-size: 1.25rem;
    line-height: 1;
    padding: 0;
    margin: 0;
}

button > .alerts-count {
    padding: .25rem .75rem;
    font-size: 1rem;
    margin: .125rem .25rem 0 .25rem !important;
}

span.alerts-count-text {
    top: -2px;
    position: relative;
}

.navbar-text.navbar-collapsed-show .btn {
    padding: .75rem 1.25rem;
}

.navbar button.navbar-toggler {
    padding: .75rem 1rem;
}

.navbar-text.navbar-collapsed-show .oi {
    font-size: 1rem;
    padding-top: .25rem;
}

.navbar span.oi {
    font-size: 1.5rem;
    padding: 0 0 .25rem 0;
}

span.oi.oi-reload.text-white {
    font-size: 1rem;
    padding: 0.25rem 0;
}

span.oi.oi-account-logout {
    padding: 0 0 0 0.5rem;
    font-size: 1.25rem;
    margin: 0;
    margin-top: -2px;
    top: 4px;
}

div.navbar-text.first.navbar-collapsed-show {
    padding-right: 5%;
    margin-left: 5%;}

div.navbar-text.last.navbar-collapsed-show:not(:only-child) {
    padding-left: 5%;
    margin-right: 5%;
}

.navbar-text.navbar-collapsed-show.hidden {
    margin-left: -45%;
}

.nxavbar-text.navbar-collapsed-show.hidden {
    margin-left: 0;
}
