/**
 * Author: sascha_lammers@gmx.de
 */

 /*
 .rangeslider__fill {
    background: #b8daff;
    position: absolute;
  }
*/

.is-invalid .rangeslider__fill {
    background-color: #f8d7da !important;
}

