/**
 * Author: sascha_lammers@gmx.de
 */

.hidden {
	display: none;
}

.hidden-override {
	display: none !important;
}

.hide-empty:empty {
    display: none;
 }

#index-edit-menu {
    color: #ffffff;
    font-size: 1.5rem;
    cursor: grab;
}
#index-edit-menu:hover {
    color: #99bbee;
}

.custom-pin-row label {
	display: none;
}

.custom-pin-row:first-child label {
	display: block;
}

.extra-top-space {
    margin-top: 5px;
}

.footer {
    margin-top: 13px;
}

.breadcrumb-brand {
    padding-right: 10px;
}

.status-table .row:nth-of-type(odd) div {
    background-color: rgba(0,0,0,.05);
}

.status-table div.col, .status-table div.col-lg-auto {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.has-network-name {
    cursor: pointer;
}

#ap_mode,
#ap_mode_dhcpd,
#station_mode,
#static_address {
    display: none;
}

.rebooting-spinner {
    padding-top: 100px;
}

.oi-disabled {
    color: #808080;
}

.breadcrumb .oi-disabled {
    color: #6c757d !important;
}

.btn-default {
    color: #212529;
    background-color: #dddddd;
    border-color: #f8f9fa;
}

.btn-default:hover {
    color: #212529;
    background-color: #aaaaaa;
    border-color: #dae0e5;
}

.btn-default:focus, .btn-default.focus {
    box-shadow: 0 0 0 0.2rem rgba(221, 221, 221, 0.5);
}

#firmware_upload_fullscreen .overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
}

#firmware_upload_fullscreen .soften {
    background-color: #ffffff;
    opacity: 0.76;
    z-index: 97;
}

#firmware_upload_fullscreen .darken {
    background-color: #000000;
    opacity: 0.08;
    z-index: 98;
}

#firmware_upload_fullscreen .text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    opacity: 1.0;
    z-index: 99;
    color: #000000;
    font-weight: bolder;
    border-style: dashed;
    border-color: red;
    border-width: 5px;
    margin: 1%;
}

#firmware_upload_fullscreen .input {
    z-index: 100;
    opacity: 0;
}

@media only screen and (max-width: 576px) {
    #firmware_upload_fullscreen .text {
        font-size: 22px;
    }
}

@media only screen and (max-width: 992px) and (min-width: 576px) {
    #firmware_upload_fullscreen .text {
        font-size: 44px;
    }
}

@media only screen and (max-width: 1200px) and (min-width: 992px) {
    #firmware_upload_fullscreen .text {
        font-size: 66px;
    }
}

@media only screen and (min-width: 1200px) {
    #firmware_upload_fullscreen .text {
        font-size: 88px;
    }
}

.light-sensor-value {
    font-size: 1rem;
}

#ds3231_time {
    font-size: 1.75rem;
}

.input-group-append .btn-default {
    border-color: #ced4da;
    background-color: #e9ecef;
}

.input-group-append .btn-default:hover {
    border-color: #ced4da;
    background-color: #e9ecef;
}

.input-group-append .btn-default:hover {
    background-color: #ced4da;
    border-color: #a1a4a7;
}

.input-group-append .btn-primary {
	border-color: #6c757d;
}


.navbar-nav li.dropdown-submenu:hover > ul.dropdown-menu {
    display: block;
}
.navbar-nav div.dropdown-submenu-frame:hover > ul.dropdown-menu {
    display: block;
}
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    padding: 10px !important;
    margin: -30px !important;
}

/* rotate caret on hover */
.dropdown-menu > li > a:hover:after {
    text-decoration: underline;
    transform: rotate(-90deg);
}


.lg-font {
    font-size: 1.25rem;
}

.md-font {
    font-size: 1rem;
}

.sm-font {
    font-size: 0.75rem;
}

.xs-font {
    font-size: 0.65rem;
}
