/**
 * Author: sascha_lammers@gmx.de
 */

#webui > .row {
        margin-right: -7px;
        margin-left: -7px;
        margin-top: auto;
        margin-bottom: auto;
}
#webui > .row > .col,
#webui > .row  > [class*="col-"] {
    padding-right: 7px;
    padding-left: 7px;
    padding-bottom: 7px;
}

.webuicomponent h1 {
    font-size: 2.5rem;
}

.webuicomponent {
    border: 1px solid #a79a9a;
    border-radius: 0.75rem;
    padding: 0;
    margin: .25rem 0 .25rem .25rem;
    box-shadow: .2rem .2rem .2rem 0 #a79a9a;
    background-color: #f8f9fa;
    width: 100%;
}

/* webui-group */

.webuicomponent .group {
    padding: .375rem 1rem .25rem 1rem;
}

.webuicomponent .group .switch {
    padding: .75rem;
    min-height: 2.5rem;
    width: 135px;
}

.webuicomponent.group-switch {
    background: transparent;
    border: 0;
    box-shadow: 0 0 black;
}

/* webui-switch */
/* webui-named-switch */

.webuicomponent > .switch {
    font-size: 1rem;
    color: #212529;
    min-height: 10rem;
    padding: 1.25rem 0 .375rem 0;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.webuicomponent > .switch .col {
    padding: 1.25rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.webuicomponent > .switch .title {
    font-weight: 500;
    padding-top: 1rem;
    padding-left: 1rem;
}

/* webui-button-group */

.webuicomponent > .button-group .col {
    text-align: center;
}

.webuicomponent > .button-group .title {
    padding: .75rem .5rem 0.25rem 0.5rem;
}

.webuicomponent > .button-group button.disabled {
    color: #6c757d;
    border-color: #6c757d;
}

.webuicomponent > .button-group button.disabled:focus {
    box-shadow: 0 0 black;
}

/* webui-slider */

.webuicomponent > .slider {
    padding: 1.5rem;
    min-height: 3.25rem;
}

/* webui-badge-sensor */

.webuicomponent .badge-sensor .row .col {
    padding: 0.125rem;
}

.webuicomponent .badge-sensor {
	font-size: 1rem;
    color: #212529;
    min-height: 10rem;
}

.webuicomponent .badge-sensor .title {
    text-align: center;
    font-weight: 500;
}

.webuicomponent .badge-sensor .data > .value {
    color: #212529;
}

.webuicomponent .badge-sensor .data > .unit {
    color: #a0a0a0;
}

.webuicomponent .outer-badge {
    border: 2px solid white;
    border-radius: 50%;
    width: 7.5rem;
    height: 7.5rem;
    margin: .375rem auto 0 auto;
    box-shadow: 2px 2px 2px 2px grey;
    background-color: #f0f0f0;
}

.webuicomponent .inner-badge {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid #aaaaaa;
    background-color: #dceaf4;
    text-align: center;
    margin: auto;
    overflow: hidden;
    display: flex;
}

.webuicomponent .inner-badge h1,
.webuicomponent .inner-badge h2,
.webuicomponent .inner-badge h3,
.webuicomponent .inner-badge h4,
.webuicomponent .inner-badge h5,
.webuicomponent .inner-badge h6 {
    color: #303030;
    padding: 0 0.25rem 0 0.25rem;
    margin: auto;
}

/* webui-sensor */

.webuicomponent .sensor {
    min-height: 11rem;
    padding: 0.375rem;
    display: flex;
    flex-direction: column;
}

.webuicomponent .sensor > .title {
    flex: 0 1 0;
    padding: .5rem 0 .5rem 0;
    text-align: center;
}

.webuicomponent .sensor > .data {
    flex: 1 1 0;
    display: flex;
    align-self: center;
    text-align: center;
}

.webuicomponent .sensor > .data .value {
    padding-right: 0.25rem;
    margin: auto;
}

.webuicomponent .sensor > .data .unit {
    color: #a0a0a0;
    font-size: 75%;
    margin: auto;
}

.webuicomponent .data.no-value {
    color: #a0a0a0 !important;
}

.webuicomponent .data.no-value > .value {
    color: #a0a0a0 !important;
}

.webuicomponent .sensor .data.no-value > .value {
    color: #a0a0a0 !important;
    padding-right: 0.5rem;
    padding-bottom: 0.25rem;
}

/* webui-screen */

.webuicomponent .screen canvas {
    border: 2px solid a0a0a0;
}

.webuicomponent div.version,
.webuicomponent span.version {
    padding-left: .5rem;
    font-size: .75rem;
}

.webuicomponent .webui-disconnected-icon {
    float: right;
    font-size: 2.25rem;
    display: block;
    padding: 0.375rem 0.375rem;
    animation: webui-disconnected-icon .5s linear infinite;
}

.webuicomponent span.connected {
    background-color: green !important;
}

.webuicomponent span.connected > .webui-disconnected-icon {
    animation: webui-disconnected-icon 2.5s linear infinite;
}

@keyframes webui-disconnected-icon {
    50% {
        opacity: 0;
    }
}

/* font-size smaller
fb-X decreasing from fs-0=0.875rem down to fs-6=0.125rem */

.webuicomponent .fs-0 {
    font-size: 0.875rem;
}
.webuicomponent .fs-1 {
    font-size: .75rem;
}
.webuicomponent .fs-2 {
    font-size: .625rem;
}
.webuicomponent .fs-3 {
    font-size: .5rem;
}
.webuicomponent .fs-4 {
    font-size: .375rem;
}
.webuicomponent .fs-5 {
    font-size: .25rem;
}
.webuicomponent .fs-6 {
    font-size: .125rem;
}

/* font-size bigger
starting with fb-0=1.125 going up to fb-11=2.5rem */

.webuicomponent fb-0 {
    font-size: 1.125rem;
}
.webuicomponent fb-1 {
    font-size: 1.25rem;
}
.webuicomponent fb-2 {
    font-size: 1.375rem;
}
.webuicomponent fb-3 {
    font-size: 1.5rem;
}
.webuicomponent fb-4 {
    font-size: 1.675rem;
}
.webuicomponent fb-5 {
    font-size: 1.75rem;
}
.webuicomponent fb-6 {
    font-size: 1.875rem;
}
.webuicomponent fb-7 {
    font-size: 2.0rem;
}
.webuicomponent fb-8 {
    font-size: 2.125rem;
}
.webuicomponent fb-9 {
    font-size: 2.25rem;
}
.webuicomponent fb-10 {
    font-size: 2.375rem;
}
.webuicomponent fb-11 {
    font-size: 2.5rem;
}

/* range slider */

.webuicomponent.zero-off .rangeslider__handle.off {
    background-color: #e03e3e;
    border: 1px solid #850b0b;
}

.webuicomponent.zero-off .rangeslider__handle {
    background-color: #1bbb0d;
    border: 1px solid #036203;
}

.webuicomponent.zero-off .rangeslider__fill {
    background-color: #ffc800;
}

.webuicomponent.group-switch .rangeslider__fill {
    background-color: #e6e6e6;
}

.webuicomponent > .slider.color-slider .rangeslider--horizontal {
    background-image: linear-gradient(to right, rgb(76, 125, 241), rgb(255, 255, 255), rgb(255, 170, 40)) !important;
}

.webuicomponent > .slider.color-slider .rangeslider__fill {
    background-color: transparent;
}

.xwebuicomponent > .slider.rgb-slider .rangeslider--horizontal {
    background-image: linear-gradient(to right,red, orange, yellow, green, blue, purple ) !important;
}

.webuicomponent > .slider.rgb-slider .rangeslider__fill {
    background-color: transparent;
}

.webuicomponent > .slider.rgb-slider .rangeslider--horizontal {
    background: linear-gradient(to right, rgb(255, 0, 0), rgb(255, 125, 0),rgb(255, 255, 0), rgb(125, 255, 0), rgb(0, 255, 0), rgb(0, 255, 125), rgb(0, 255, 255),rgb(0, 125, 255), rgb(0, 0, 255) );
}
